img {
  max-width: 100%;
  display: block;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
  position: sticky;

  .name {
    font-family: "Acumen P", sans-serif;
    font-size: 36px;
    font-weight: 400;
  }

  .navbar {
    display: flex;
    flex-direction: row;

    .link {
      font-family: "Poppins", sans-serif;
      font-size: 1rem;
      font-weight: 300;
      padding: 10px;
    }
  }
}

.section {
  display: flex;
}

.about-me {
  flex-direction: row;
  margin: 80px;

  .about-me-text {
    width: 40vw;
  }

  .about-me-pic {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
  }
}

.section-header {
  font-size: calc(1.3vw + 1rem);
  font-weight: 500;
  margin-bottom: 20px;
}

.section-text {
  display: flex;
  flex-direction: column;
  line-height: 1.8rem;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.cv-content {
  margin: 0 80px 80px 80px;
  flex-direction: column;
}

.publications-content {
  margin: 0 80px 80px 80px;
  flex-direction: column;
}

.accordion-header {
  font-family: "Poppins", sans-serif;
  font-size: calc(0.6vw + 1rem);
}

.accordion-details {
  display: flex;
  flex-direction: column;
  margin: 10px 20% 10px 20%;
  font-family: "Poppins", sans-serif;
  font-size: calc(0.2vw + 1rem);
}

.underline {
  text-decoration: underline;
}

.community-engagement {
  flex-direction: column;
}

.community-engagement-details {
  display: grid;
  grid-template-rows: 0.8fr 1fr;
  grid-template-areas:
  "image1 image2 image3"
  "explain1 explain2 explain3";
  gap: 1rem;
  width: 100%;
}

.contact-me {
  display: flex;
  flex-direction: row;
}

.contact-me-details {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  justify-content: center;
}