.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
  position: sticky;

  .name {
    font-family: "Acumen P", sans-serif;
    font-size: 36px;
    font-weight: 400;
  }

  .navbar {
    display: flex;
    flex-direction: row;

    .link {
      font-family: "Poppins", sans-serif;
      font-size: 1rem;
      font-weight: 300;
      padding: 10px;
    }
  }
}

.about-me {
  display: flex;
  flex-direction: row;
  margin: 80px;

  .about-me-header {
    font-size: calc(1.3vw + 1rem);
    font-weight: 500;
    margin-bottom: 20px;
  }

  .about-me-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    line-height: 1.8rem;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
  }

  .about-me-pic {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-left: 80px;
  }
}